<article class="row">
    <section class="col-8">
        <div class="bordearticle bg-dark text-white">
            <p>SHOP</p>
        </div>
        <div class="bg-secondary">
            <app-shop-list></app-shop-list>
        </div>
    </section>
    <aside class="col">
        <div class="bordearticle bg-dark text-white">
            <p>CARRITO</p>
        </div>
        <div class="bg-secondary cartshopbg">
            <app-cart-shop></app-cart-shop>
        </div>
    </aside>
</article>