<div class="col justify-content-around p-4">
    <div class="card bg-dark ">
        <img src={{set.image}} class="card-img-top" alt="{{set.name}}">
        <div class="card-body text-white">
            <h5 class="card-title">{{set.name}}</h5>
        </div>
        <ul class="list-group list-group-flush ">
            <li class="list-group-item bg-dark text-white">
                Clases:
                <Span *ngFor="let class of set.pjclass">{{class}} - </Span>
            </li>
            <li class="list-group-item bg-dark text-white">Stock: {{set.stock}}</li>
            <li class="list-group-item bg-dark text-white">Precio: {{set.precio}}</li>
            <li class="list-group-item bg-dark text-white">
                <app-input-integer [(quantity)]="set.quantity" [max]="set.stock" (AlertError)="alertError($event)"></app-input-integer>
            </li>
        </ul>
        <div class="card-body ">
            <button class="card-button btn-outline-dark w-100" [disabled]="set.stock==0" (click)="addToCart(set)">Comprar</button>
        </div>
    </div>
</div>